@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
    background-color: gray;
    font-family: 'Source Code Pro', monospace;
}

.heading {
    color: snow;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
      0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
.login:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
      0 1px 1px rgba(255, 255, 255, 0.2);
  }

.container {
    display: inline-block;   
    width: 300px;  
    height: 200px;  
    padding-top: 100px; 
    justify-content: center;
}

.button {
    margin-left: 200%;
}